.element{
    height:60px;
    width: 70%;
    background-color: #444444;
    margin-top: 30px;
    margin-left: 10%;
    border-right: 8px solid rgb(0, 162, 255);
    display: flex;
}
.element2{
    height:60px;
    width: 70%;
    background-color: #444444;
    margin-top: 30px;
    margin-left: 10%;
    border-right: 8px solid #E85253;
    display: flex;
}
.element-text{
    color: rgb(0, 162, 255);
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
    margin-top: 16px;
    margin-left: 10px;
    user-select: none;
}
.element-text2{
    color: #E85253;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
    margin-top: 16px;
    margin-left: 10px;
    user-select: none;
}
.element-text-small2{
    color: #E85253;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
    margin-top: 16px;
    margin-left: 10px;
    user-select: none;
}

.element:hover{
    background-color: rgba(87, 87, 87, 0.363);
}
.logo1{
    height: 60px;
    width: 100px;
    user-select: none;
}
.logo2{
    height: 60px;
    width: 100px;
    user-select: none;
    background-color: #E85253;
}
.element-text:hover{
    text-decoration: none;
}
.linkscrollcontainer{
    background-color: rgba(255, 255, 0, 0);
    width: 100%;
    height: 1110px;
}

.abteilung{
    margin-top: 30px;
    margin-left: 5%;
    height: 6px;
    width: 80%;
    border-radius: 3px;
    background-color:rgba(87, 87, 87, 0.363);
}

@media (max-width: 1000px) {
    .element{
        height:60px;
        width: 82%;
        background-color: #444444;
        margin-top: 30px;
        margin-left: 5%;
        border-right: 32px solid rgb(0, 162, 255);
        border-radius: 20px;
        display: flex;
    }
    .element2{
        height:60px;
        width: 82%;
        background-color: #444444;
        margin-top: 30px;
        margin-left: 5%;
        border-right: 32px solid #E85253;
        border-radius: 20px;
        display: flex;
    }
    .element-text{
        color: rgb(0, 162, 255);
        text-decoration: none;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 25px;
        margin-top: 16px;
        margin-left: 10px;
        user-select: none;
    }
    .element-text2{
        color: #E85253;
        text-decoration: none;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 25px;
        margin-top: 16px;
        margin-left: 10px;
        user-select: none;
    }
    .element-text-small2{
        color: #E85253;
        text-decoration: none;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 16px;
        margin-top: 21px;
        margin-left: 10px;
        user-select: none;
    }
    .element:hover{
        background-color: rgba(87, 87, 87, 0.363);
    }
    .logo1{
        height: 60px;
        width: 100px;
        user-select: none;
        border-top-left-radius: 20px;
        border-bottom-left-radius: 20px;
    }
    .element-text:hover{
        text-decoration: none;
    }
    .linkscrollcontainer{
        overflow: scroll;
        overflow-x: hidden;
        background-color: rgba(255, 255, 0, 0);
        width: 100%;
        height: 640px;
    }
    .scrollbottom{
        background-color: rgba(255, 255, 255, 0);
        width: 200px;
        height: 200px;
    }
    .abteilung{
        margin-top: 30px;
        margin-left: 3%;
        height: 6px;
        width: 94%;
        border-radius: 3px;
    
        background-color:rgba(87, 87, 87, 0.363);
    }
}