.cou{
    height: 50px;
    width: 40%;
    background-color: rgba(227, 44, 44, 0);
    margin-left: 10%;
    margin-top: 60px;
    
    display: flex;
    align-items: center;
}
.cou a{

    font-size: 26px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 500;
    color: white;
    text-decoration: none;    
}
.cou button{
    height: 26px;
    width: 26px;
    margin-left: 12px;

    background-color: rgb(000, 162, 255);
    border: 1px solid rgb(000, 162, 255);
    border-radius: 3px;

    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    color: white;
}